{
  "extends": "airbnb",
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "globals": {
    "angular": true,
    "define": true,
    "require": true
  },
  "rules": {
    "arrow-body-style": ["error", "always"],
    "func-names": ["error", "never"],
    "global-require": 0,
    "no-param-reassign": 0
  }
}